<section class="pb-5">
    <div class="container">

        <div class="row pt-5">
            <!-- Content-->
            <div class="col-xl-8">

                <!-- Post-->
                <article class="post">
                    <div class="post-header">
                        <h2 class="post-title">
                            <a>{{test.title}}</a>
                        </h2>
                        <ul class="post-meta">
                            <li>
                                <i class="mdi mdi-calendar"></i> {{test.createdAt | date: 'dd/MM/yyyy'}}</li>
                            <li>
                                <i class="mdi mdi-tag-text-outline"></i>
                                <a ui-sref="app.category({friendlyName: test.category.friendlyName})">{{test.category.name}}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="post-preview">
                        <div class="embed-responsive" ng-repeat="question in test.questions">
                            <p class="bold">Question {{$index + 1}}</p>
                            <audio controls ng-if="question.media">
                                <source ng-src="http://localhost:3000/{{question.media}}?={{$index+1}}" type="audio/mpeg" />
                            </audio>
                            <p ng-if="question.image">
                                <img ng-src="http://localhost:3000/{{question.image}}">
                            </p>
                            <p ng-if="question.answers && question.answers.length > 0">
                                <span ng-repeat="answer in question.answers">
                                    <input type="radio" name="answer" value="{{$index + 1}}"> {{answer.content}}
                                    <br />
                                </span>
                            </p>
                            <p ng-if="question.answers.length === 0">
                                <input type="radio" name="answer" value="1"> 1
                                <br />
                                <input type="radio" name="answer" value="2"> 2
                                <br /> 
                                <input type="radio" name="answer" value="3"> 3
                                <br /> 
                                <input type="radio" name="answer" value="4"> 4
                            </p>
                        </div>
                    </div>
                </article>
                <!-- Post end-->

            </div>
            <!-- Content end-->

            <!-- Sidebar-->
            <div class="col-xl-4" ui-view="sideBarRight"></div>
            <!-- Sidebar end-->
        </div>

    </div>
    <!-- end container -->
</section>