<!-- Top Bar Start -->
<div class="topbar-mobile">
    <div class="logo">
        <a href="http://zoyothemes.com/blogezy/index.html">
            <img src="./images/logo.png" alt="" class="" style="height: 44px;">
        </a>
        <button class="button-menu-mobile">
            <i class="mdi mdi-menu"></i>
        </button>
    </div>
</div>
<!-- Top Bar End -->
<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu" ui-view="header"></div>
<!-- Left Sidebar End -->

<div class="page-wrapper" ui-view="content">
</div>