<div class="slimscroll-menu" id="remove-scroll">
    <div class="logo">
        <a href="http://zoyothemes.com/blogezy/index.html">
            <img src="./images/logo.png" alt="" class="" style="height: 44px;">
        </a>
        <p class="text-muted">Graduating from the halls of the University Of Western Sydney in late 2011. </p>
    </div>

    <!--- Sidemenu -->
    <div id="sidebar-menu">
        <!-- Left Menu Start -->
        <ul class="metismenu" id="side-menu">

            <li>
                <a href="http://zoyothemes.com/blogezy/index.html">
                    <span> Home</span>
                </a>
            </li>

            <li>
                <a href="javascript: void(0);">
                    <span> Features </span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a href="http://zoyothemes.com/blogezy/standard-post.html">Standard Post</a>
                    </li>
                    <li>
                        <a href="http://zoyothemes.com/blogezy/video-post.html">Video Post</a>
                    </li>
                    <li>
                        <a href="http://zoyothemes.com/blogezy/audio-post.html">Audio Post</a>
                    </li>
                    <li>
                        <a href="http://zoyothemes.com/blogezy/gallery-post.html">Gallery Post</a>
                    </li>
                    <li>
                        <a href="http://zoyothemes.com/blogezy/quote-post.html">Quote Post</a>
                    </li>
                    <li>
                        <a href="http://zoyothemes.com/blogezy/link-post.html">Link Post</a>
                    </li>
                    <li>
                        <a href="http://zoyothemes.com/blogezy/404.html">Error 404</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);">
                    <span> Lifestyle </span>
                </a>
            </li>

            <li>
                <a href="javascript: void(0);">
                    <span> Travel </span>
                </a>
            </li>

            <li>
                <a href="javascript: void(0);">
                    <span> Music </span>
                </a>
            </li>

            <li>
                <a href="./about.html">About</a>
            </li>

            <li>
                <a href="./contact.html">Contact</a>
            </li>

        </ul>

        <div class="copyright-box">
            <p>2017 © Blogezy. </p>
        </div>

    </div>
    <!-- Sidebar -->
    <div class="clearfix"></div>

</div>
<!-- Sidebar -left -->