<div class="slimscroll-menu">
    <div class="logo">
        <a href="http://zoyothemes.com/blogezy/index.html">
            <img src="./images/logo.png" alt="" class="" style="height: 44px;">
        </a>
    </div>

    <!--- Sidemenu -->
    <div id="sidebar-menu">
        <!-- Left Menu Start -->
        <ul class="metismenu" id="side-menu">

            <li>
                <a ui-sref="app.home">
                    <span> Home</span>
                </a>
            </li>
            <li>
                <a ui-sref="app.about">About</a>
            </li>

            <li>
                <a ui-sref="app.contact">Contact</a>
            </li>

        </ul>

        <div class="copyright-box">
            <p>2017 © ABC. </p>
        </div>

    </div>
    <!-- Sidebar -->
    <div class="clearfix"></div>

</div>
<!-- Sidebar -left -->