<div class="sidebar">
    <aside class="widget about-widget">
        <div class="widget-title">Subscribe &amp; Follow</div>

        <ul class="socials">
            <li>
                <a href="http://facebook.com/">
                    <i class="mdi mdi-facebook"></i>
                </a>
            </li>
            <li>
                <a href="http://twitter.com/">
                    <i class="mdi mdi-twitter"></i>
                </a>
            </li>
            <li>
                <a href="http://instagram.com/">
                    <i class="mdi mdi-instagram"></i>
                </a>
            </li>
            <li>
                <a href="http://pinterest.com/">
                    <i class="mdi mdi-pinterest"></i>
                </a>
            </li>
        </ul>

    </aside>

    <!-- Categories widget-->
    <aside class="widget widget_categories" ng-if="categories.length > 0">
        <div class="widget-title">Categories</div>
        <ul>
            <li ng-repeat="category in categories">
                <a ui-sref="app.category({friendlyName: category.friendlyName})">{{category.name}}</a> ({{category.totalTest || 0}})
            </li>
        </ul>
    </aside>
    
    <!-- Archives widget-->
    <aside class="widget">
        <div class="widget-title">Archives</div>

        <ul>
            <li>
                <a href="http://zoyothemes.com/blogezy/index.html#">March 2017</a> (40)</li>
            <li>
                <a href="http://zoyothemes.com/blogezy/index.html#">April 2017</a> (08)</li>
            <li>
                <a href="http://zoyothemes.com/blogezy/index.html#">May 2017</a> (11)</li>
            <li>
                <a href="http://zoyothemes.com/blogezy/index.html#">Jun 2017</a> (21)</li>
        </ul>

    </aside>
</div>