<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <div class="row">
                        <div class="col-md-9 col-xs-12">
                            <h2>
                                <span>News and Stories</span>
                            </h2>

                            <p class="subtitle text-muted">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                                nibh id elit. Proin gravida nibh vel velit auctor Aenean sollicitudin, adipisicing elit sed
                                lorem quis bibendum auctor.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5 pb-5">
    <div class="container">
        <div class="row">
            <!-- Content-->
            <div class="col-xl-8">
                <!-- Post-->
                <article class="post" ng-repeat="test in tests">
                    <div class="post-header">
                        <h2 class="post-title">
                            <a ui-sref="app.detail({friendlyName: test.friendlyName})">{{test.title}}</a>
                        </h2>
                        <ul class="post-meta">
                            <li>
                                <i class="mdi mdi-calendar"></i>
                                {{test.createdAt | date: 'dd/MM/yyyy'}}
                            </li>
                            <li>
                                <i class="mdi mdi-tag-text-outline"></i>
                                <a href="javascript:void(0)">{{test.categoryName}}</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <a ui-sref="app.detail({friendlyName: test.friendlyName})" class="btn btn-outline-custom">Read More
                            <i class="mdi mdi-arrow-right"></i>
                        </a>
                    </div>

                </article>
                <!-- Post end-->

                <!-- Pagination-->
                <div class="row">
                    <div class="col-lg-12">
                        <ul uib-pagination boundary-links="true" total-items="pagination.totalItems" ng-model="pagination.currentPage" ng-change="pageChanged()"
                            class="pagination" force-ellipses="true" max-size="pagination.maxSize" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></ul>
                    </div>
                </div>
                <!-- Pagination end-->
            </div>
            <!-- Content end-->

            <!-- Sidebar-->
            <div class="col-xl-4" ui-view="sideBarRight"></div>
            <!-- Sidebar end-->
        </div>

    </div>
    <!-- end container -->
</section>