<section class="pb-5">
    <div class="container">
        <div class="row pt-5">
            <!-- Content-->
            <div class="col-xl-9">
                <!-- Post-->
                <article class="post" ng-repeat="test in tests">
                    <div class="post-header">
                        <h2 class="post-title">
                            <a ui-sref="app.detail({friendlyName: test.friendlyName})">{{test.title}}</a>
                        </h2>
                        <ul class="post-meta">
                            <li>
                                <i class="mdi mdi-calendar"></i>
                                {{test.createdAt | date: 'dd/MM/yyyy'}}
                            </li>
                            <li>
                                <i class="mdi mdi-tag-text-outline"></i>
                                <a href="javascript:void(0)">{{test.categoryName}}</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <a ui-sref="app.detail({friendlyName: test.friendlyName})" class="btn btn-outline-custom">Read More
                            <i class="mdi mdi-arrow-right"></i>
                        </a>
                    </div>

                </article>
                <!-- Post end-->

                <!-- Pagination-->
                <div class="row">
                    <div class="col-lg-12">
                        <ul uib-pagination boundary-links="true" total-items="pagination.totalItems" ng-model="pagination.page" ng-change="pageChanged()"
                            class="pagination" force-ellipses="true" items-per-page="pagination.per_page" max-size="pagination.maxSize"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                    </div>
                </div>
                <!-- Pagination end-->
            </div>
            <!-- Content end-->

            <!-- Sidebar-->
            <div class="col-xl-3 fix-sidebar-right" ui-view="sideBarRight"></div>
            <!-- Sidebar end-->
        </div>

    </div>
    <!-- end container -->
</section>