<!--banner-->
<section class="box-all">
    <div class="banner-top" style="background-image:url(assets/images/banner.jpg);">
        <div class="carousel-fullscreen-sidebar hide">
            <div class="notice-streamer__content">
                <div class="notice-streamer__headline">
                    {{'HOME_TITLE'|translate}}
                </div>
                <div class="notice-streamer__text">
                    {{'HOME_DESC'|translate}}
                </div>
                <div>
                    <form class="form" ng-submit="search()">
                        <div class="streamer-search input-group">
                            <label for="search-field-home" class="sr-only">Search:</label>
                            <input type="search" name="q" id="search-field-home" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="{{'HOME_SEARCH_PLACEHOLDER' | translate}}"
                                autocomplete="off" data-perf-mark="Home.search-ready" ng-change="autoComplete()" ng-model="searchPhrase"
                                ng-model-options="{debounce: 300}" ng-keypress="enter($event)">
                            <span class="input-group-btn">
                                <button class="streamer-search__btn" type="submit">
                                    <span class="udi udi-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                    <div class="dropdown" ng-class="{'open': autoCompleteShown}" id="homeSearch">
                        <ul class="dropdown-menu" ng-if="courseSearchResult.length > 0">
                            <li ng-repeat="course in courseSearchResult">
                                <a ui-sref="app.course.detail({friendlyName: '{{course.friendlyName}}'})">
                                    <span>
                                        <i class="udi udi-file"></i>
                                    </span>
                                    <span class="results__title ellipsis">
                                        <span ng-bind-html="course.name | highlight:searchPhrase"></span>
                                    </span>
                                </a>
                            </li>
                            <li ng-repeat="user in userSearchResult">
                                <a href="#">
                                    <span>
                                        <i class="udi udi-file"></i>
                                    </span>
                                    <span class="results__title ellipsis">
                                        <span ng-bind-html="user.name | highlight:searchPhrase"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end banner-->

<!--news-->
<div class="new-channel">
    <div class="top-news">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-news">
                        <span class="how-udemy-works__icon udi udi-signup_temp"></span>
                        <div class="how-udemy-works__text">
                            <b>65,000 {{'ONLINE_COURSES'|translate}}</b>
                            <div class="how-udemy-works__sub-title">
                                {{'ONLINE_COURSES_DESC'|translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-news">
                        <span class="how-udemy-works__icon udi udi-right_talk"></span>
                        <div class="how-udemy-works__text">
                            <b>{{'EXPERT_INSTRUCTION'|translate}}</b>
                            <div class="how-udemy-works__sub-title">
                                {{'EXPERT_INSTRUCTION_DESC'|translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-news">
                        <span class="how-udemy-works__icon udi udi-timeless"></span>
                        <div class="how-udemy-works__text">
                            <b>{{'LIFETIME_ACCESS'|translate}}</b>
                            <div class="how-udemy-works__sub-title">
                                {{'LIFETIME_ACCESS_DESC'|translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--end news-->

<!--danh sach san pham-->
<section class="box-all bg-white" ng-repeat="item in popularCourses">
    <div class="container">
        <h2 class="discovery-title">
            {{item.name === 'featured' ? 'COURSE_FEATURED' : item.name === 'newest' ? 'COURSE_NEWEST' : 'COURSE_FREE' | translate}}
            <a class="pull-right" ui-sref="app.category.index({friendlyName: '{{item.friendlyName}}'})" ng-if="item.friendlyName">{{'SEE_ALL' | translate}}</a>
        </h2>
        <div class="slide-box">
            <div class="owl-carousel bounceInDown wow" id="listproduct1">
                <!--item-->
                <course-summary course="course" ng-repeat="course in item.courses track by course._id" ng-mouseenter="mouseEnter($event)"
                    ng-mouseleave="mouseLeave()" data-id="{{course.friendlyName}}"></course-summary>
                <!--end item-->
            </div>
        </div>
    </div>
</section>
<!--end danh sach-->

<!--danh sach san pham 5-->
<section class="box-all bg-white" ng-if="suggestedCourses.length > 0">
    <div class="container">
        <h2 class="discovery-title">{{'BECAUSE_YOU' | translate}}
            <a ui-sref="app.course.detail({friendlyName: latestViewedCourseFriendlyName})">"{{latestViewedCourseName}}"</a>
        </h2>
        <div class="slide-box">
            <div class="owl-carousel bounceInDown wow" id="listproduct5">
                <!--item-->
                <course-summary course="course" ng-repeat="course in suggestedCourses track by course._id" ng-mouseenter="mouseEnter($event)"
                    ng-mouseleave="mouseLeave()" data-id="{{course.friendlyName}}"></course-summary>
                <!--end item-->
            </div>
        </div>
    </div>

</section>
<!--end danh sach-->

<!--danh sach san pham 6-->
<section class="box-all bg-white ng-hide">
    <div class="container">
        <h2 class="discovery-title">{{'DISCOVER_POPULAR_COURSES' | translate}}</h2>
        <div class="slide-box">
            <div class="row">
                <div class="col-md-4">
                    <div class="block-1">
                        <div class="topic-detail">
                            <div class="topic-name">{{'TOPIC_RATE' | translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block-1 block-2">
                        <div class="topic-detail">
                            <div class="topic-name">{{'TRENDING' | translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block-1 block-3">
                        <div class="topic-detail">
                            <div class="topic-name"> {{'FEATURED.NEW_AND_NOTEWORTHY' | translate}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END san pham 6-->
<!--danh sach san pham 7-->
<section class="box-all bg-white ng-hide">
    <div class="container">
        <h2 class="discovery-title">{{'DISCOVER_POPULAR_COURSES' | translate}}</h2>
        <div class="slide-box">
            <div class="row">
                <div class="col-sm-6" ng-repeat="collection in collections" ng-class="{'col-md-4': $index < 3, 'col-md-3': $index >= 3}">
                    <a ui-sref="app.collection({friendlyName: '{{collection.friendlyName}}'})" class="link-img">
                        <img ng-src="{{collection.image}}" alt="{{collection.name}}" />
                    </a>
                    <a class="link-bottom-img">{{collection.name}}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end san pham-->

<!--about us-->
<section class="box-all bg-white ng-hide">
    <div class="container">
        <h2 class="c_section__title">About E-Learning</h2>
        <div class="slide-box">
            Medu is a global marketplace for learning and teaching online where students are mastering new skills and achieving their
            goals by learning from an extensive library of over 65,000 courses taught by expert instructors.
            <br>
            <br> We set clear and challenging goals, deliver regular feedback, and have opportunities to learn every day. We
            encourage everyone to stretch beyond their roles because the best ideas can come from anywhere.
            <br>
            <br> Medu is a global marketplace for learning and teaching online where students are mastering new skills and achieving
            their goals by learning from an extensive library of over 65,000 courses taught by expert instructors.
            <br>
            <br> We set clear and challenging goals, deliver regular feedback, and have opportunities to learn every day. We
            encourage everyone to stretch beyond their roles because the best ideas can come from anywhere.
            <br>
            <br>
        </div>
    </div>
</section>
<!--end about us-->

<!--teacher-->
<section class="box-all bg-white">
    <div class="container">
        <h2 class="discovery-title">{{'OUR_STUDENTS' | translate}}</h2>
        <div class="slide-box">
            <div class="owl-carousel bounceInDown wow" id="listteacher">
                <div class="items" ng-repeat="instructor in bestInstructors track by instructor._id">
                    <a ui-sref="app.user.page({username: instructor.username})" class="link-img">
                        <img src="{{instructor.photo}}" />
                    </a>
                    <a ui-sref="app.user.page({username: instructor.username})" class="link-bottom-img">
                        <strong>{{instructor.name}}</strong> ({{instructor.totalTaughtCourses}} {{'COURSE' | translate}}, {{instructor.students}} {{'LEARN_COURSE_MODULE.STUDENTS'|translate}})</a>
                    <div class="ratings">
                        <a href="#">
                            <i class="udi udi-star"></i>
                            <i class="udi udi-star"></i>
                            <i class="udi udi-star"></i>
                            <i class="udi udi-star"></i>
                            <i class="udi udi-star"></i>
                        </a>
                        <span class="from-month" am-time-ago="instructor.createdAt"></span>
                    </div>
                </div>
                <!--<div class="items">-->
                    <!--<a href="#" class="link-img">-->
                        <!--<img src="/assets/images/goals-3.jpg" />-->
                    <!--</a>-->
                    <!--<a href="#" class="link-bottom-img">-->
                        <!--<strong>Andrew Gabriel</strong> (44 courses, 7 reviews)</a>-->
                    <!--<div class="ratings">-->
                        <!--<a href="#">-->
                            <!--<i class="udi udi-star"></i>-->
                            <!--<i class="udi udi-star"></i>-->
                            <!--<i class="udi udi-star"></i>-->
                            <!--<i class="udi udi-star"></i>-->
                            <!--<i class="udi udi-star"></i>-->
                        <!--</a>-->
                        <!--<span class="from-month">8 months ago</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="items">-->
                    <!--<a href="#" class="link-img">-->
                        <!--<img src="/assets/images/goals-3.jpg" />-->
                    <!--</a>-->
                    <!--<a href="#" class="link-bottom-img">-->
                        <!--<strong>Andrew Gabriel</strong> (44 courses, 7 reviews)</a>-->
                    <!--<div class="ratings">-->
                        <!--<a href="#">-->
                            <!--<i class="udi udi-star"></i>-->
                            <!--<i class="udi udi-star"></i>-->
                            <!--<i class="udi udi-star"></i>-->
                            <!--<i class="udi udi-star"></i>-->
                            <!--<i class="udi udi-star"></i>-->
                        <!--</a>-->
                        <!--<span class="from-month">8 months ago</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="items">-->
                    <!--<a href="#" class="link-img">-->
                        <!--<img src="/assets/images/goals-3.jpg" />-->
                    <!--</a>-->
                    <!--<a href="#" class="link-bottom-img">-->
                        <!--<strong>Andrew Gabriel</strong> (44 courses, 7 reviews)</a>-->
                    <!--<div class="ratings">-->
                        <!--<a href="#">-->
                            <!--<i class="udi udi-star"></i>-->
                            <!--<i class="udi udi-star"></i>-->
                            <!--<i class="udi udi-star"></i>-->
                            <!--<i class="udi udi-star"></i>-->
                            <!--<i class="udi udi-star"></i>-->
                        <!--</a>-->
                        <!--<span class="from-month">8 months ago</span>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</section>
<!--end teacher-->

<!--student-->
<section class="box-all bg-white ng-hide">
    <div class="container">
        <h2 class="discovery-title">Our students</h2>
        <div class="slide-box">
            <div class="owl-carousel bounceInDown wow" id="listtestimonials">
                <div class="items">
                    <div class="instructor-card">
                        <a href="#" class="clearfix">
                            <img src="/assets/images/4466306_6fd8_3.jpg" alt="Instructor Image" height="75" width="75" class="instructor-image" />
                            <div class="card-details">
                                <span class="card-title">Colt Steele</span>
                                <div class="card-info">
                                    <div class="card-topics">
                                        <span>Web Development Fundamentals, MySQL</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="items">
                    <div class="instructor-card">
                        <a href="#" class="clearfix">
                            <img src="/assets/images/4466306_6fd8_3.jpg" alt="Instructor Image" height="75" width="75" class="instructor-image" />
                            <div class="card-details">
                                <span class="card-title">Colt Steele</span>
                                <div class="card-info">
                                    <div class="card-topics">
                                        <span>Web Development Fundamentals, MySQL</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="items">
                    <div class="instructor-card">
                        <a href="#" class="clearfix">
                            <img src="/assets/images/4466306_6fd8_3.jpg" alt="Instructor Image" height="75" width="75" class="instructor-image" />
                            <div class="card-details">
                                <span class="card-title">Colt Steele</span>
                                <div class="card-info">
                                    <div class="card-topics">
                                        <span>Web Development Fundamentals, MySQL</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="items">
                    <div class="instructor-card">
                        <a href="#" class="clearfix">
                            <img src="/assets/images/4466306_6fd8_3.jpg" alt="Instructor Image" height="75" width="75" class="instructor-image" />
                            <div class="card-details">
                                <span class="card-title">Colt Steele</span>
                                <div class="card-info">
                                    <div class="card-topics">
                                        <span>Web Development Fundamentals, MySQL</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="items">
                    <div class="instructor-card">
                        <a href="#" class="clearfix">
                            <img src="/assets/images/4466306_6fd8_3.jpg" alt="Instructor Image" height="75" width="75" class="instructor-image" />
                            <div class="card-details">
                                <span class="card-title">Colt Steele</span>
                                <div class="card-info">
                                    <div class="card-topics">
                                        <span>Web Development Fundamentals, MySQL</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end student-->

<!--testimonials-->
<section class="box-all fea">
    <div class="container">
        <div class="instructor-success container">
            <h1 class="title text-center">{{'TESTIMONIALS'|translate}}</h1>
            <h2 class="text-center subtext">{{'TESTIMONIALS_DESC'|translate}}</h2>
            <div class="owl-carousel" id="listreviews">
                <!--item-->
                <div class="items">
                    <div class="instructor-card-static--box--1gPwD">
                        <div class="instructor-card-static--box__top--2IMlC instructor-card-static--box__top--color0--11nUU"></div>
                        <div class="fx-dc fx-jsb instructor-card-static--content--2MCFq">
                            <div class="mb15 view-more-container--view-more--25_En" style="min-height: 200px;">
                                <div>
                                    <div>
                                        <div class="instructor-card-static--quote--1a1F5">
                                            {{'TESTIMONIALS_DETAIL'|translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pr15 media-left">
                                    <img alt="Avatar" width="90" height="90" src="/assets/images/profile-jean-lurssen.jpg" class="img-circle">
                                </div>
                                <div class="media-body">
                                    <h4 class="instructor-card-static--name--34E8r media-heading">Jean Lurssen</h4>
                                    <div class="a11">Watercolorist</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--item-->
                <div class="items">
                    <div class="instructor-card-static--box--1gPwD">
                        <div class="instructor-card-static--box__top--2IMlC instructor-card-static--box__top--color0--11nUU"></div>
                        <div class="fx-dc fx-jsb instructor-card-static--content--2MCFq">
                            <div class="mb15 view-more-container--view-more--25_En" style="min-height: 200px;">
                                <div>
                                    <div>
                                        <div class="instructor-card-static--quote--1a1F5">
                                            {{'TESTIMONIALS_DETAIL'|translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pr15 media-left">
                                    <img alt="Avatar" width="90" height="90" src="/assets/images/21681922_4513_5.jpg" class="img-circle">
                                </div>
                                <div class="media-body">
                                    <h4 class="instructor-card-static--name--34E8r media-heading">Kirt Cobain</h4>
                                    <div class="a11">Web Developer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--item-->
                <div class="items">
                    <div class="instructor-card-static--box--1gPwD">
                        <div class="instructor-card-static--box__top--2IMlC instructor-card-static--box__top--color0--11nUU"></div>
                        <div class="fx-dc fx-jsb instructor-card-static--content--2MCFq">
                            <div class="mb15 view-more-container--view-more--25_En" style="min-height: 200px;">
                                <div>
                                    <div>
                                        <div class="instructor-card-static--quote--1a1F5">
                                            {{'TESTIMONIALS_DETAIL'|translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pr15 media-left">
                                    <img alt="Avatar" width="90" height="90" src="/assets/images/4466306_6fd8_3.jpg" class="img-circle">
                                </div>
                                <div class="media-body">
                                    <h4 class="instructor-card-static--name--34E8r media-heading">Rafael Mohamed</h4>
                                    <div class="a11">Gym trainer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--item-->
                <div class="items">
                    <div class="instructor-card-static--box--1gPwD">
                        <div class="instructor-card-static--box__top--2IMlC instructor-card-static--box__top--color0--11nUU"></div>
                        <div class="fx-dc fx-jsb instructor-card-static--content--2MCFq">
                            <div class="mb15 view-more-container--view-more--25_En" style="min-height: 200px;">
                                <div>
                                    <div>
                                        <div class="instructor-card-static--quote--1a1F5">
                                            {{'TESTIMONIALS_DETAIL'|translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pr15 media-left">
                                    <img alt="Avatar" width="90" height="90" src="/assets/images/32143518_ff3d_3.jpg" class="img-circle">
                                </div>
                                <div class="media-body">
                                    <h4 class="instructor-card-static--name--34E8r media-heading">Quinton Batchelor</h4>
                                    <div class="a11">Artist & Instructor</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end testimonials-->

<!--partners-->
<section class="box-all bg-white fea">
    <div class="container">
        <div class="instructor-success container">
            <h1 class="title text-center">{{'PARTNERS' | translate}}</h1>
            <div class="owl-carousel" id="listpartners">
                <!--item-->
                <div class="items">
                    <a href="https://vietfuture.vn" target="_blank">
                        <img src="http://askwhy.vn/wp-content/uploads/2016/09/doitacask-vf-200x100.png" class="img-responsive" />
                    </a>
                    <a href="https://vietfuture.vn" target="_blank" class="link-doitac">Công ty CP Đào Tạo Vietfuture</a>
                </div>

                <!--item-->
                <div class="items">
                    <a href="https://gitizen.edu.vn/" target="_blank">
                        <img src="http://askwhy.vn/wp-content/uploads/2016/09/doitacask-gitizen-200x100.png" class="img-responsive" />
                    </a>
                    <a href="https://gitizen.edu.vn/" target="_blank" class="link-doitac">Học Viện Gitizen</a>
                </div>

                <!--item-->
                <div class="items">
                    <a href="https://inet.vn/" target="_blank">
                        <img src="http://askwhy.vn/wp-content/uploads/2016/09/doitacask-inet-200x100.png" class="img-responsive" />
                    </a>
                    <a href="https://inet.vn/" target="_blank" class="link-doitac">Công ty CP Truyền Thông iNET</a>
                </div>

                <!--item-->
                <div class="items">
                    <a href="https://pdca.vn/" target="_blank">
                        <img src="http://askwhy.vn/wp-content/uploads/2016/09/doitacask-pdca-200x100.png" class="img-responsive" />
                    </a>
                    <a href="https://pdca.vn/" target="_blank" class="link-doitac">Công ty TNHH Đào Tạo Tư Vấn PDCA</a>
                </div>

                <!--item-->
                <div class="items">
                    <a href="http://bigsuccess.vn/" target="_blank">
                        <img src="http://askwhy.vn/wp-content/uploads/2016/09/doitacask-bigsuccess-200x100.png" class="img-responsive" />
                    </a>
                    <a href="http://bigsuccess.vn/" target="_blank" class="link-doitac">Công ty CP Đào Tạo Big Success</a>
                </div>

                <!--item-->
                <div class="items">
                    <a href="http://ghs.vn/" target="_blank">
                        <img src="http://askwhy.vn/wp-content/uploads/2016/09/doitacask-traitimvang-200x100.png" class="img-responsive" />
                    </a>
                    <a href="http://ghs.vn/" target="_blank" class="link-doitac">Công ty CP TMDV Trái Tim Vàng</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end partners-->

<!--danh sach san pham 8-->
<section class="box-all bg-white ng-hide">
    <div class="container">
        <h2 class="discovery-title">{{'FEATURED_TOPICS' | translate}}</h2>
        <div class="tags-box box-all">
            <a ui-sref="app.topic.index({friendlyName: topic.friendlyName})" ng-repeat="topic in topics"> {{topic.name}} </a>
        </div>
    </div>
</section>
<!--end san pham-->

<!--danh sach san pham 9-->
<section class="box-all bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 bd-left">
                <div class="w-320">
                    <a ui-sref="app.lecturer.register1" class="link-big">{{'BECOME_INSTRUCTOR'|translate}}</a>
                    <div class="desc-9">
                        {{'BECOME_INSTRUCTOR_DESC'|translate}}
                    </div>
                    <div class="non-student-ctas">
                        <a ui-sref="app.lecturer.register1" class="btn btn-primary">{{'BECOME_INSTRUCTOR_ACTION'|translate}}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="w-320">
                    <a ui-sref="app.business" class="link-big">Medu {{'FOR_BUSINESS'|translate}}</a>
                    <div class="desc-9">
                        {{'FOR_BUSINESS_DESC'|translate}}
                    </div>
                    <div class="non-student-ctas">
                        <a ui-sref="app.business" class="btn btn-primary">{{'FOR_BUSINESS_ACTION'|translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end san pham-->

<!--hover-->
<course-quick-view ng-mouseleave="mouseLeaveBox()" ng-mouseenter="mouseEnterBox()" id="quick-view-box" class="fade popover right"
    ng-class="{'in': quickViewShown}" course="currentCourse" on-add-to-cart="addToCart(currentCourse)" on-add-to-wishlist="addToWishList(currentCourse)"
    on-enroll="enroll(currentCourse)">

</course-quick-view>
<!--end hover-->