<section class="box-all box-white">
    <div class="container">
        <div class="row">
            <div class="main-content">
                <!--<h1 class="text-center create-course-title">Create a New Course</h1>-->
                <div class="modal-content-wrapper modal-wrapper-md modal modal--static">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{'CHANGEPASS.CHANGE' | translate}}</h4>
                        </div>
                        <div class="modal-body">
                            <form name="resetForm">
                                <alert-box></alert-box>
                                <div>
                                    <div class="form-field-container  labeled form-group">
                                        <label class="control-label">{{'CHANGEPASS.YOUR_NEW' | translate}}:</label>
                                        <div class="tooltip-reference pos-r ">
                                            <div class="ud-app-loader ud-component--form-fields--form-control-with-counter ud-app-loaded">
                                                <div class="form-control-counter-container">
                                                    <input type="password" placeholder="{{'CHANGEPASS.YOUR_NEW' | translate}}" class="textinput textInput form-control" ng-required="true" ng-model="password" ng-minlength="6">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-field-container  labeled form-group">
                                        <label class="control-label">{{'CHANGEPASS.RETYPE' | translate}}:</label>
                                        <div class="tooltip-reference pos-r ">
                                            <div class="ud-app-loader ud-component--form-fields--form-control-with-counter ud-app-loaded">
                                                <div class="form-control-counter-container">
                                                    <input type="password" placeholder="{{'CHANGEPASS.RETYPE' | translate}}" class="textinput textInput form-control" ng-required="true" ng-model="repeatPassword" ng-minlength="6">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="submit-row">
                                        <button type="button" ng-disabled="!isFormValid()" ng-click="changePassword()" class="btn btn-primary">{{'CHANGEPASS.RESET' | translate}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
