<ul class="card-wrapper">
    <li class="card-search" ng-repeat="course in $ctrl.courses">
        <div class="col-sm-3 pd0">
            <a ui-sref="app.course.detail({friendlyName: '{{course.friendlyName}}'})">
                <img ng-src="{{course.thumbnail || 'assets/images/placeholder_240x135.png'}}" class="search-card-image">
            </a>
        </div>
        <div class="col-sm-9 fx badge-hover">
            <div>
                <a ui-sref="app.course.detail({friendlyName: '{{course.friendlyName}}'})" class="search-card-title">
                    <h1 ng-bind-html="course.name"></h1>
                </a>
            </div>
            <div class="search-card-content">
                <a ui-sref="app.course.detail({friendlyName: course.friendlyName, '#': 'instructor' })" class="search-card-instructor">
                    {{course.instructor.name}}
                </a>
                <div class="search-card-subtitle">
                    <p class="search-card-content"ng-bind-html="course.headline">
                    </p>
                </div>
                <div class="search-card-metadata">
                    <span>
                        <span class="search-card-meta-item">
                            <span class="search-card-icon udi udi-play-circle"></span>
                            {{ course.curriculum ? (course.curriculum.total ? course.curriculum.total : 0) : 0}} {{'LECTURES' | translate}}
                        </span>
                        <span class="search-card-meta-item">
                            <span class="search-card-icon udi udi-clock"></span>
                            {{course.curriculum ? (course.curriculum.totalTime ? course.curriculum.totalTime : 0) : 0 | secondToHourDecimal}} {{'HOURS'
                            | translate}}
                        </span>
                    </span>
                    <span class="search-card-meta-item">
                        <span class="search-card-icon udi udi-search-filter"></span> {{course.level | level}}
                    </span>
                </div>

                <div class="search-card-right-col">
                    <div class="search-course-card--card__price-wrapper--HKgH3" ng-if="course.isFree">
                        <span class="card__price ml5">{{'FREE' | translate}}</span>
                    </div>
                    <div class="search-card-price-wrapper" ng-if="!course.isFree">
                        <div ng-if="course.saleOff != null">
                            <span class="search-card-price">{{course.saleOff.newPrice | number}} đ</span>
                            <span class="search-card-price-old">{{course.price | number}} đ</span>
                        </div>
                        <div ng-if="course.saleOff == null">
                            <span class="search-card-price">{{(course.price | number) + ' đ'}}</span>
                        </div>
                    </div>
                    <div class="search-card-star">
                        <a ui-sref="app.course.detail({friendlyName: course.friendlyName, '#': 'reviews' })">
                            <div class="star-rating--static star-rating--smaller">
                                <span ng-style="{width: ((course.rateScore/5)*100) + '%'}"></span>
                            </div>
                            <span class="search-card-review-point">{{course.rateScore}}</span>
                        </a>
                        <a href="#reviews" class="search-course-card-review-count">
                            <div>
                                ({{course.rates | number}} {{'RATINGS' | translate}})
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>