<div class="arrow" style="top: 45%;"></div>
<div class="popover-content">
    <div class="regular text-midnight-lighter">
        <span class="dib a11 mt10 mb10">
            {{'INSTRUCTOR_DASHBOARD_MODULE.PUBLISHED' | translate}}:
            <span>{{$ctrl.course.updatedAt | date:'MM/yyyy'}}</span>
        </span>
        <a ui-sref="app.course.detail({friendlyName: $ctrl.course.friendlyName})" class="a10 bold text-midnight-light quick-view-box--title--UkrxE">
            <span ng-bind-html="$ctrl.course.name"></span>
        </a>
        <div class="badge-with-context">
            <span class="tooltip-container">
                <span class="badge badge-accented yellow mr0-force">
                    {{'BEST_SELLER' | translate}}
                </span>
            </span>
            <span class="context-info">
                <span>{{'COLLECTIONS.IN' | translate}}</span>
                <a ui-sref="app.topic.index({friendlyName: $ctrl.course.topic[0].friendlyName})" ng-if="$ctrl.course.topic">
                    <span>{{$ctrl.course.topic[0].name}}</span>
                </a> | {{$ctrl.course.category.name}}
            </span>
        </div>
        <div class="fx-lc mt15 mb15 a11">
            <div class="fx-c">
                <span class="text-midnight-light a11 mr5 udi udi-play-circle"></span>
                <span>
                    {{ $ctrl.course.curriculum ? ($ctrl.course.curriculum.total ? $ctrl.course.curriculum.total : 0) : 0}} {{'LECTURES' | translate}}
                </span>
            </div>
            <div class="fx-c ml10">
                <span class="text-midnight-light a11 mr5 udi udi-clock"></span>
                <span>
                    {{$ctrl.course.curriculum ? ($ctrl.course.curriculum.totalTime ? $ctrl.course.curriculum.totalTime : 0) : 0 | secondToHourDecimal}}
                    {{'HOURS' | translate}}
                </span>
            </div>
            <div class="fx-c ml10">
                <span class="text-midnight-light a11 mr5 udi udi-search-filter"></span>
                <span>{{$ctrl.course.level | level}}</span>
            </div>
            <div class="fx-c ml10">
                <span class="text-midnight-light a11 mr5 udi udi-closed-caption"></span>
            </div>
        </div>
    </div>
    <div class="oh fx-dc">
        <span class="a11 course-quick-view-desc" ng-bind-html="$ctrl.course.headline"></span>
        <div class="a11 mt15 df">
            <ul class="quick-view-box">
                <li class="fx-lt" ng-repeat="item in $ctrl.course.gain">
                    <div class="quick-view-objective">{{item}}</div>
                </li>
            </ul>
        </div>
        <div class="fx-jsb" ng-if="!$ctrl.course.isFree">
            <div class="text-wrap">
                <div>
                    <button type="button" class="primary btn btn-lg {{$ctrl.course.hasInCarts ? 'btn-quaternary' : 'btn-primary'}}" ng-click="$ctrl.addToCart()"
                        ng-disabled="$ctrl.isInstructor()">
                        <div>
                            <span class="">{{$ctrl.course.hasInCarts ? 'GO_TO_CART' : 'ADD_TO_CART' | translate}}</span>
                        </div>
                    </button>
                    <span></span>
                </div>
            </div>
            <span>
                <span>
                    <button title="{{'ADD_TO_WISHLIST' | translate}}" type="button" class="ml15 wishlist-add-to-wishlist btn btn-default" ng-click="$ctrl.addToWishlist()"
                        ng-disabled="$ctrl.isInstructor()">
                        <!--<span class="sr-only">Wishlist</span>-->
                        <span ng-class="{'button-wished-icon' : $ctrl.course.isWishlisted, 'button-wish-icon' : !$ctrl.course.isWishlisted}" class="udi udi-heart"></span>
                    </button>
                    <span></span>
                </span>
            </span>
        </div>
        <div class="fx-jsb" ng-if="$ctrl.course.isFree">
            <!--<a ui-sref="app.course.enroll({courseId: '{{$ctrl.course._id}}'})"  class="fx text-wrap btn btn-default btn-block">{{'ENROLL_NOW' | translate}}</a>-->
            <a ng-click="$ctrl.enroll()" class="fx text-wrap btn btn-default btn-block" ng-disabled="$ctrl.isInstructor()" ng-show="!$ctrl.course.isSubscribe || $ctrl.isInstructor()">{{'ENROLL_NOW' | translate}}</a>
            <a ui-sref="app.course.detail({friendlyName: $ctrl.course.friendlyName})" class="fx text-wrap btn btn-default btn-block"
                ng-disabled="$ctrl.isInstructor()" ng-show="$ctrl.course.isSubscribe && !$ctrl.isInstructor()">{{'START_TO_LEARN' | translate}}</a>
            <span>
                <span>
                    <button title="{{'ADD_TO_WISHLIST' | translate}}" type="button" ng-click="$ctrl.addToWishlist()" class="ml15 wishlist-add-to-wishlist btn btn-default">
                        <!--<span class="sr-only">{{'WISHLIST' | translate}}</span>-->
                        <span ng-class="{'button-wished-icon' : $ctrl.course.isWishlisted, 'button-wish-icon' : !$ctrl.course.isWishlisted}" class="udi udi-heart"></span>
                    </button>
                    <span></span>
                </span>
            </span>
        </div>
    </div>
</div>