<div class="item">
    <div class="product-item">
        <a ui-sref="app.course.detail({friendlyName: $ctrl.course.friendlyName})" class="link-product">
            <div class="box-img">
                <img ng-src="{{$ctrl.course.thumbnail || 'assets/images/placeholder_240x135.png'}}" alt="{{$ctrl.course.name}}" />
            </div>
            <div class="box-info">
                <h3 class="title-product title-product-mb" ng-bind-html="$ctrl.course.name"></h3>
                <!--<div class="desc-product" ng-bind-html="$ctrl.course.headline"></div>-->
                <div class="instructor-description-home"><span data-purpose="course-card-instructor-titles">{{$ctrl.course.instructor.name}}</span></div>
                <span class="star-rating-details">
                    <span aria-label="Rating: 1 out of 5" class="star-rating--star-rating--static--3wPvS star-rating--star-rating--small--yMOwk">
                        <span ng-style="{width: ($ctrl.course.rateScore/5)*100 + '%'}"></span>
                    </span>
                    <span>
                        <span class="star-rating">{{$ctrl.course.rateScore}}</span>
                        <span class="star-rating-count">({{$ctrl.course.rates | number}})</span>
                    </span>
                </span>
                <div class="merchandising-course-card">
                    <span class="sr-only">Discount:</span>
                    <span class="price-list-price" ng-if="!$ctrl.course.isFree">
                        <span class="sr-only">Original price:</span>{{$ctrl.course.price | currency: '': 0}} đ
                    </span>
                    <span class="price-price1" ng-if="$ctrl.course.isFree">
                        <span class="sr-only">Original price:</span>{{'FREE' | translate}}
                    </span>
                    <span class="price-price1" ng-if="!$ctrl.course.isFree && $ctrl.course.saleOff">
                        <span class="sr-only">Current price:</span>{{$ctrl.course.saleOff.newPrice | currency : '': 0}} đ
                    </span>
                </div>
            </div>
        </a>
    </div>
</div>