<a class="notification__url" target="_self" ng-click="$ctrl.followNotification()">
    <div class="mr10" width="64">
        <div>
            <div class="mr10 user-avatar" style="width: 64px; font-size: 18px;">
                <div class="user-avatar__inner">
                    <div aria-label="in28Minutes Official"
                         class="img-circle user-avatar__img" role="img"
                         title="in28Minutes Official"
                         style="background-image: url({{ $ctrl.notification.from.photo || '/assets/images/anonymous_3.png' }})"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="fx">
        <p class="notification__message" ng-bind-html="$ctrl.getNotificationContent()"></p>
        <p class="notification__time" am-time-ago="$ctrl.notification.createdAt"></p>
    </div>
</a>
<span class="notification__status tooltip-container" ng-click="$ctrl.markAsRead()"
      ng-class="{'notification__status--read': $ctrl.notification.read}">
    <span class="tooltip tooltip-blue bottom in tooltip--mark-as-read"  ng-if="!$ctrl.notification.read">
        <span class="tooltip-arrow"></span>
        <span class="tooltip-inner"><span>
            {{'MARK_AS_READ' | translate}}
        </span></span>
    </span>
</span>